* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header-game {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.header-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  background-color: #45acf5;
}

.group-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-weight: bold;
  color: #38bdf8;
}

.level,
.current-point,
.current-time {
  background: #185ba4;
  padding: 6px 12px;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 6px 12px;
}
.fa-star {
  color: #fdd058;
  font-size: 20px;
}
.fa-clock {
  color: #6bf3ff;
  font-size: 20px;
}
.contain-level {
  display: flex;
  align-items: center;
  gap: 8px;
}
.level-label,
.points-label,
.time-label {
  font-size: 14px;
  color: #ffffff;
}
.level-value,
.points-value,
.time-value {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.sound,
.pause-game,
.return-home {
  width: 36px;
  height: 36px;
  background: #185ba4;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.game-main {
  width: 100%;
  max-width: 1400px;
  height: calc(100vh - 90px);
  margin: 0 auto;
  padding: 20px;
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.game-board {
  flex: 1;
  min-width: 0;
  background-color: #4e8fbc;
  border-radius: 16px;
  border: 2px solid #cbd5e1;
  background-clip: content-box;
  padding: 16px;

  display: flex;
  align-items: center;
  width: 1060px;
  height: 565px;
}
.board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--board-cols), 50px);
  grid-template-rows: repeat(var(--board-row), 50px);
  gap: 8px;
  width: fit-content;
  height: fit-content;
  /* background-color: #4e8fbc; */
  border-radius: 10px;
  margin: 0 auto;
}

.cell {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
  transition:
    transform 0.1s,
    border-color 0.1s;
}

.cell:hover {
  transform: scale(1.08);
  border-color: white;
}

.cell.empty {
  background: transparent !important;
  border: none;
  box-shadow: none;
}
.cell.selected {
  box-shadow: inset 0 0 0 999px rgba(0, 0, 0, 0.25);
  transform: scale(0.97);
}

.cell .fruit-image {
  width: 60%;
  height: 60%;
  object-fit: contain;
  pointer-events: none;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/* sidebar items */
.game-sidebar {
  width: 280px;
  height: 565px;
  background: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
}
.container-sidebar {
  margin: 20px;
  width: 80%;
}
.game-sidebar-content {
  margin: 20px 0;
  background: white;
  border-radius: 20px;
  border: 2px solid #ccc;
}
.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}
.sidebar-item.end {
  border-bottom: none;
}
.siderbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.btn-group button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.btn-hint {
  background-color: #fdd058;
}
.btn-shuffle {
  background-color: #9d79fc;
}
.btn-refresh {
  background-color: #ff6b6b;
}
.path-layer {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 10;
}

.connection-line {
  position: absolute;
  background: #111;
  border-radius: 5px;
}

.cell.hint {
  box-shadow: inset 0 0 0 999px rgba(255, 215, 0, 0.45);
  transform: scale(0.95);
}
/* bản kết quả */
.hidden {
  display: none !important;
}
.game-result {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-container {
  display: flex;
  flex-direction: column;
  background-color: #fefbf0;
  border-radius: 30px;
  padding: 20px;
  border: 2px solid #fdf3e3;
  width: 550px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.result-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
}
.game-result.win .result-header {
  border: 2px solid #58c87a;
  background-color: #58c87a;
}
.game-result.lose .result-header {
  border: 2px solid #c85863;
  background-color: #c85863;
}

.result-infor {
  display: flex;
  text-align: center;
  padding: 10px;
  border: 1px solid #e1d1b9;
  border-radius: 20px;
  background-color: #fdf3e3;
  margin: 20px 0;
}
.infor-content.center {
  border-left: 2px solid #e1d1b9;
  border-right: 3px solid #e1d1b9;
}
.infor-content {
  width: 50%;
}

.btn-result {
  display: flex;
  gap: 20px;
}
.infor-label {
  color: black;
  font-size: 18px;
}
.infor-value {
  color: #185ba4;
  font-size: 20px;
  font-weight: 800;
}

.replay-level {
  background-color: #58c87a;
}
.return-menu {
  background-color: #6faffd;
}
.next-level {
  background-color: #fdd058;
}
/* leve2 */
.cell.obstacle {
  background-color: #64748b;
  border: 2px solid #475569;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.15);
}

.cell.obstacle,
.cell.obstacle:hover {
  transform: none !important;
  cursor: default;
}

/* level 3 */

.board.night-mode .cell {
  filter: brightness(0);
  transition: filter 0.2s ease;
}

.board.night-mode .cell.empty,
.board.night-mode .cell.obstacle {
  filter: brightness(0.1);
}
.board.night-mode .cell.night-reveal {
  filter: brightness(1);
}
